<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- common-dbcp 가 이 기능을 대신하며 root-context.xml에 설정되어 있음.
 	<properties></properties>
	<environments default=""></environments> 
-->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>	
	
	<typeAliases>
		<typeAlias type="kh.spring.myweb.member.model.vo.Member" alias="Member"/>
		<typeAlias type="kh.spring.myweb.board.model.vo.Board" alias="Board"/>
		<typeAlias type="kh.spring.myweb.board.model.vo.ReComment" alias="ReComment"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
	</mappers>
	
</configuration>
